.item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 500;
}
figure {
    width: 70px;
    margin: 0 10px 0 0;
}
figure img {
    max-width: 100%;
}
p {
    margin: 0 10px;
}
.like {
    color: gold;
    font-size: 10px;
}
.like img {
    width: 20px;
    margin-right: 5px;
}