.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {

}

.dialog a {
    text-decoration: none;
    color: #fff;
}

.dialog.active a {
    color: gold;
}

.messages {

}

.message {
    color: #fff;
}